<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= shop.guitarname %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/cs2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../css/shops.css" type="text/css" />
</head>

<body>
    <%- include('nav.ejs', {level: level}) -%>

    <article class="main-shop">
        <img src="../pictures/<%= shop.guitarURL %>" alt="">
        <p><%= shop.guitarname %></p>
        <p><%= shop.price %></p>
        <p><%= shop.detail %></p>
    </article>
    
</body>

</html>