<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/shops.css" type="text/css" />
    <link rel="shortcut icon" href="../assets/logo.png" type="image/png" />
</head>

<body>
    <%- include('nav.ejs', {level: level, username: username}) -%>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Admin Management Panel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/management">Guitar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MMchord">Chord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MMuser">User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MMlist">Order</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Edit User
                        </div>
                        <div class="card-body">
                            <form action="/MMuserEdit2/<%= accounts.id_account %>" method="POST">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"value="<%= accounts.username %>">
                                </div>
                                <br>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="text" class="form-control" id="password" name="password"value="<%= accounts.password %>">
                                </div>
                                <br>
                                <div class="mb-3">
                                    <label for="level" class="form-label">User Level</label>
                                    <select class="form-select" aria-label="Default select example" id="level" name="level">
                                        <option selected><%= accounts.level %></option>
                                        <% if (accounts.level == 'user') { %>
                                            <option value="admin">admin</option>
                                        <% } else if (accounts.level == 'admin') { %>
                                            <option value="user">user</option>
                                        <% } %>
                                      </select>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <a href="/MMchordDelete/<%= accounts.id_chord %>" class="btn btn-danger ms-2">Delete</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    </body>
</html>